:root {
    --color-primario: #333399;
    
    --color-secundario: #ffffff;
    --color-terciario: #888484;


    --fondo1: url("http://localhost/laravel/example-app/public/img/engineer-4925136.jpg");
    --fondo1: url("http://localhost/laravel/example-app/public/img/engineer-4941341.jpg");
    --fondo2: url("http://localhost/laravel/example-app/public/img/engineer-492411351.jpg");
    --fondo4: url("http://localhost/laravel/example-app/public/img/3274764.jpg");    
}