body {
    margin: 0;
    padding: 0;
    
    font-family: 'Itim', cursive;
}
.contenido {
    
    margin-top: 1%; 
    padding-top: 2%;
    background-color: antiquewhite;
}
.div1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333399;
    font-size: 25px;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .cort2 { grid-area: 1 / 1 / 2 / 2; }
    .cort3 { grid-area: 1 / 4 / 2 / 5; align-items: right; text-align: right;}
    .cort4 { grid-area: 1 / 5 / 2 / 6; align-items: center; text-align: center;
    }


 .a1{
    display: inline-block;
    padding: 10px 30px;
    color: #333399;
    border: 2px solid #ffffff;
    text-decoration: none;
    border-radius: 0.6rem;
    font-size: 16px;
    font-weight: bold;
    background: #ffffffff;
    text-align: center;
    transition: all 0.3s;
 }  
 .a2{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
 }

    .a1:hover {
        background: #ffffffff;
        color: white;

    }
    .goku {
        position: relative;
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }
    .carrusel {
        
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100vh;
        transition: transform 0.5s ease-in-out;
    }
    .carrusel img {
        filter: blur(5px) brightness(0.7);
       
        width: 100vh;
        flex: 0 0 100%;
        object-fit: cover;
    }

    .p1 {    
        position: absolute;
        text-align: center;
        color: #ffffffff;
        font-size: 50px;
        left: 10%;
        text-shadow: -2px -2px 0 #000000,  
        2px -2px 0 #000000,  
       -2px  2px 0 #000000,  
        2px  2px 0 #000000;
        top: 0%;
        right: 50%;
        gap: 10px;
        justify-content: center;}

    
    

    .botones {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }
    .boton {
        width: 15px;
        height: 15px;
        background: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.5;
    }
    .boton.activo {
        opacity: 1;
    }

   